@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#first{
  position: absolute;
  top: 10%;
  
  
}


#second{
  position: absolute;
  top: 10%;
  
}


#third{
  position: absolute;
  top: 10%;
  
}


.logo{
  font-size: 30px;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }



  #fourIcon .col{
    display: flex;
  }

  #fourIcon .col i{
    margin-right: 20px;
    color: #38ACEC;
  }

  #fourId{
    padding: 40px;
  }


  #imgcontainer img{
    width: 500px;
    height: 400px;
    border-radius: 2%;
  }

  #imgcontainer h6{
    color: #38ACEC;
    padding: 11px;
    
  }

  #imgcontainer p{
    color: gray;
    margin-top: 25px;
  }

  .root{
    display: flex;
    padding: 5px;
  }

  .sub{
    padding: 10px;
    color: #38ACEC;
  }

  #smallsec h6{
    color:#38ACEC;
  }

  #smallsec{
    padding: 35px;
    background-color: cornsilk;
  }

  #smallsec p{
    color: gray;
  }


  #fourbox img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid white;
  }

  #fourbox p{
    font-size: 22px;
    color: white;
  }

  #fourbox{
    background-color: #2B65EC;
    border-radius: 10px;
    padding: 55px;
  }

  #fourbox h3{
    color: #0AFFFF;
  }


#paragraph h1{
  font-weight: lighter;
}

#paragraph img{
  height: 380px;
  width: 380px;
}

#paragraph span{
  color: #2B65EC;
  font-weight: bold;
}

#paragraph{
  padding: 50px 0px 50px 0px;
}

#paragraph h4{
  font-weight: lighter;
  padding: 0px 45px 0px 45px;
}

#paragraph p{
  font-size: 22px;
}

#paragraph .para{
  padding: 45px;
}

#oneCol h1{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: lighter;
}

#oneCol span{
  font-style: italic;
  color: #2B65EC;
}

#oneCol p{
  font-size: 18px;
  color: gray;
  font-style: italic;
  margin-top: 23px;
}

#oneCol img{
 width: 350px;
 height: 300px;
 margin-left: 25px;;
}

#oneCol{
  padding: 35px;
}

#teamwala img{
  width: 250px;
  height: 250px;
  border: 7px solid skyblue;
  border-radius: 50%;
  /* padding: 20px; */
  margin-top: 27px;
  margin-left: 27px;
  
}

#teamwala #desig{
  
  font-weight: bold;
}



#teamwala{
 
  color: black;
  border-radius: 15px;
 
  
}

#teamwala:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#teamwala span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
 
}

#teamwala p{
  font-size: 18px;
}

.bnrpic img{
  width: 1349px;
  height: 400px;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 50px;
}

.bnrpic{
  position: relative;
  text-align: left;
  color: white;
}

.bottom-left span{
  font-weight: lighter;
}

#twoCol h6{
  color: #2B65EC;
}

#twoCol p{
  color: grey;

}

#twoCol h1{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 43px;

}

#twoCol{
  padding: 50px;
  margin-top: 25px;

}

.inputgroup input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #B0C4DE;
  margin-right: 35px;
  width: 210px;
  
}

#oneRow .secondinput input{
  
  padding: 10px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #B0C4DE;
  
}

#oneRow .secondinput{
  margin-top: 33px;
}


#oneRow  .w3review{
  border-radius: 5px;
  border: 1px solid #e4e7eb;
  margin-top: 23px;
}

#oneRow #swara img{
  width:350px ;
  height: 350px;
  cursor: pointer;
}

#oneRow {
  background-color:#f2f5f8;
  padding: 10px;
}

.portfolio .portBanner{
  width: 1349px;
  height: 500px;
  
}

#multiplecards{
  /* display: flex;
  align-items: center;
  display: block; */
 
  align-items: center;
  padding: 10px;
}


#sadow{
  border-radius: 20px;
  cursor: pointer;
}


#sadow :hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.port-one-row{
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 80px 0px 80px 0px;
  display: flex;
  justify-content: space-between;
}


.port-one-row h1{
  font-weight: lighter;
  color: #0000FF;
  
}

.port-one-row .firstcol{
  width: 50%;
  height: 400px;
  padding: 80px;
}

.port-one-row .secondcol img{
  width: 400px;
  height: 400px;
}

.port-one-row .secondcol{
  padding: 0px 100px 0px 100px;
}

.port-two-row{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 65px;

  width: 85%;
  margin: 0px auto;
  padding-bottom: 50px; 
}

.port-two-row .firstcol2{
  width: 25%;
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

/* .port-two-row .firstcol2:hover{
  background-color: #F5F5F5;
  color: #2B65EC;
  
} */

.port-two-row .firstcol2:hover{
  background-color: #2B65EC;
  color: #fff;
}

.port-two-row .firstcol2 h3{
  font-weight: lighter;
  
  padding: 23px;
  
}

.firstcol button{
  padding: 8px;
  color: white;
  font-weight: bold;
}










.col-sm{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .col-sm{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .col-sm{
    width: 33.33333%;
  }
}

.col-sm .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 260px;
  border-radius: 12px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.space{
  margin-bottom: 50px;
}

 

 

  

  
